<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <title>Photo album</title>
</head>
<body>
<th:block th:replace="/fragments/navbar :: navbar('photos', ${keyword}, true)"></th:block>
<div class="container pt-3">
    <h1>Photo album
        <a th:href="@{/photos/create}" title="add photo" sec:authorize="hasAuthority('ADMIN')">
            <i class="fa-solid fa-circle-plus"></i>
        </a>
    </h1>

    <th:block th:if="${message}">
        <div th:replace="~{/fragments/messages :: alert(${message.type}, ${message.text})}"></div>
    </th:block>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Url</th>
            <th>Visibile</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="photo : ${list}" th:object="${photo}">
            <td th:text="*{title}"></td>
            <td>
                <span th:text="*{description}" class="d-inline-block text-truncate" style="max-width: 150px;"></span>
            </td>
            <td th:text="*{url}"></td>
            <td th:text="*{visible} ? 'Yes' : 'No' "></td>

            <td>
                <a th:href="@{|/photos/*{id}|}" class="btn btn-primary btn-sm" title="detail">
                    <i class="fa-regular fa-image"></i>
                </a>

                <a th:href="@{|/photos/edit/*{id}|}" class="btn btn-info btn-sm"
                   title="edit" sec:authorize="hasAuthority('ADMIN')">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                
                <a th:href="@{|/photos/delete/*{id}|}" class="btn btn-danger btn-sm"
                   title="delete" sec:authorize="hasAuthority('ADMIN')">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Block level -->


    <th:block th:unless="${list.size() > 0}">
        <div th:replace="~{/fragments/messages :: alert('INFO', 'The list is empty!')}"></div>
    </th:block>

</div>


</body>
</html>