<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <th:block th:replace="/fragments/resources :: head"></th:block>
    <title>Photo detail</title>
</head>
<body>
<th:block th:replace="/fragments/navbar :: navbar('photos', '', false)"></th:block>

<div class="container pt-3" th:object="${photo}">
    <div class="d-flex align-items-center">
        <h1 th:text="*{title}"></h1>
        <a th:href="@{|/photos/edit/*{id}|}" class="btn btn-info btn-sm ms-2" title="edit"
           sec:authorize="hasAuthority('ADMIN')">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <a class="btn btn-dark btn-sm ms-2" th:href="@{/photos}" title="photos">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <div>
        <dl>
            <dt>Description</dt>
            <dd th:text="*{description}"></dd>
            <dt>Visible on site web</dt>
            <dd th:text="*{visible} ? 'Yes' : 'No'"></dd>
            <dt>Categories</dt>
            <dd>
                <span th:each="categ : *{categories}" th:text="${categ.name}" class="me-1"></span>
                <div th:if="${photo.categories.size() == 0 || photo.categories == null}">Still no category</div>
            </dd>
            <dt>Url</dt>
            <dd th:text="*{url}"></dd>
        </dl>
    </div>
    <div class="col-6">
        <img th:src="@{*{url}}" th:alt="*{title}" class="contain">
    </div>

</div>

</body>
</html>